.results {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.noResults {
    align-self: center;
    font-size: 24px;
}

.resultsLoader {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin-top: 20px;

    &::-webkit-scrollbar {
        display: none;
    }

    > div {
        scroll-snap-align: start;
        flex-shrink: 0;
        margin-right: 20px;
        border-radius: 10px;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        position: relative;
        display: flex;
        align-items: center;
        font-size: 100px;
    }
}
